* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #F8F8F8;
	font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}

.hidden {
	display: none;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	background: white;
	border-radius: .3rem
}

.row {
	margin-bottom: 1rem;
	display: flex;
}

.row:last-of-type {
	margin-bottom: .5rem;
}

.row .field:not(:last-child) {
	margin-right: 1rem;
}

.field,
.button {
	font-size: 1.2rem;
	border-radius: .2rem;
}

.field {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	padding: .2rem;
}

.button {
	-webkit-appearance: none;
	border: none;
	background: #4E99FE;
	color: white;
	padding: .5rem;
	outline: none;
	cursor: pointer;
}

.button:active {
	background: #4E8DE1;
}

.button--full {
	display: block;
	width: 100%;
}

.showPreview,
.closePreview {
	text-decoration: none;
	color: #888;
}

.showPreview {
	display: block;
	text-align: center;
	margin-bottom: .5rem;
}

.closePreview {
	float: right;
}

.previewBtn:hover,
.previewBtn:focus {
	color: #555;
}
